.table{
  width: 80%;
  border: collapse;
  background:#6c5b7c ;
  margin-left: 100px;
  margin-top: 100px;
}

.table, th, td{
    border: thin solid gainsboro;
}
.tr{
  padding: 50px;
  border: 1px solid #fafafa;
  border-collapse: separate;
  border-spacing: 100px;
}
#th1{
  padding: 15px;
  background-color: deeppink;
}
.td.th{
  padding: 30px;
  height: 5px;
}
.h2{
  position: fixed;
  top: 100px;
  left:120px;
}


