*{
    margin: 4px;
}
#header-grid{
    height: 30vh;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 25% 25% 25% 25%;
    column-gap: 6px;
    
    
    
}
.grid-item{
    text-decoration-line: none;
    font-family: "Vesper Libre", serif;
  font-weight: 700;
  font-style: normal;
  
    
}
.grid-item-1{
    
    padding: 10px;
    color: black;
    text-align: center;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;

}
.grid-item-2{
    padding: 10px;
    
    color: black;

    text-align: center;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;

}
.grid-item-3{
    
    padding: 10px;
    color: black;
    text-align: center;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;

}
.grid-item-4{
    
    padding: 10px;
    color:black;
    text-align: center;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-item-5{
    color: black;
    padding: 10px;
    color: black;
    text-align: center;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
}
#main-container{
    height: 50vh;
    display: grid;
    grid-template-columns:  200px 200px 200px 200px 200px 200px 200px ;
    grid-template-rows: 25% 25% 25% 25%;
    
    
    
}
.main-item-1{
    
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}
.main-item-2{
    
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}
.main-item-3{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}



.img{
    position: absolute;
    top: 300px;
    left: 40px;
}
.h1{
    font-size: 1em;
}
.p{
    font-size: 1em;
}
.h2{
    font-size: 20px;
}
.link2{
    text-decoration-line: none;
    padding: 15px;
    color: white;
    background-color: deepskyblue;
}
#service-container{
    height: 180vh;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 25% 25% 25% 25% ;
    row-gap: 20px;
    text-decoration-line: none;
    
}
.service-item-0{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;

}
.service-item-1{
    
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.service-item-2{
    
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.service-item-3{
    
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}
.service-item-4{
    
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.service-item-5{
    
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
.service-item-6{
    
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    
}


.h1a{
    font-size: 1em;
}
.material-symbols-outlined{
    color: deepskyblue;
}
.link3{
    text-decoration-line: none;
}
.zitat{
    font-size: 20px;
    position: absolute;
    top: 650px;
    left: 90px;
    font-family: "Vesper Libre", serif;
  font-weight: 700;
  font-style: normal
}
.i{
    font-size: 1em;
}
.span{
    color: deepskyblue;
}