*{
    margin: 0px;
}
.grid-container{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px 200px;
}
.first-card{
    font-size: 1em;
    color: black;
    
}